<!-- your html code here -->
<div class="container">
    <div class="row border-1">
        <div class="col-7 ms-3">
            <h1><strong>The First Heading Will Catch Your Eye</strong></h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-5 me-3">
            <img src="https://previews.123rf.com/images/wowomnom/wowomnom1507/wowomnom150700007/41825193-ilustraci%C3%B3n-vectorial-de-la-bombilla-amarilla-con-la-hoja-verde-en-el-interior-sobre-fondo-de-color.jpg"
                class="rounded-circle" height="200px" width="200px" />
        </div>
    </div>
</div>