<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-5 ms-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT86S_ZlKylXOd3eTqAW5KXxkngeiP-uUxtNA&usqp=CAU" class="rounded-circle" height="200px" width="200px" />
        </div>
        <div class="col-7 me-3">
            <h1><strong>The Second Heading Is Pretty Cool Too</strong></h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
            
        </div>
    </div>
</div>